@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Inter&family=Merriweather&family=Open+Sans&family=Plus+Jakarta+Sans&family=Poppins:wght@500&family=Quicksand:wght@600&family=Roboto+Slab:wght@500&family=Roboto:wght@500&family=Sacramento&display=swap');

*{
  box-sizing: border-box;
  margin: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}

.navbar{
  display: flex;
  background-color: #F34F50;
  border-radius: 12px 12px 1px 1px;
  color: #FFFAF5;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  padding: 0px 10px;
  height: 90px;
  
}
.logo{
  color: #FFFAF5;
}
.main{
  text-align: center;
  margin-top: 10px;
}
.cards{

  padding: 10px;
  display: inline-block;
  
}
.card{
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card-img{
  width: 200px;
  border-radius: 9px;
  height: 275px;
}
.card-details{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
  align-items: flex-start;
}
.detail-1{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.detail-1 h2{
 font-weight: bolder;
 font-size: 28px;
}
.locate h4{
  font-size: 15px;
}
.locate .gmap{
  margin-left: 8px;
  color: #b2abc1;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
.detail-2 h5{
  font-weight: bolder;
  font-size: 14px;
}
.locate{
  display: flex;
  gap: 2px;
  align-items: center;
}
.mapIcon{
  height: 16px;
}
.name{
  font-weight: bolder;
}
.detail-2{
 display: flex;
 flex-direction: column;
 gap: 5px;
 align-items: flex-start;
 text-align: left;
}
.detail-2 p{
  font-size: 14px;
  color: #6f6b78;
}


































/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
